@model Contract

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Contract</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContractNo" class="control-label"></label>
                <input asp-for="ContractNo" class="form-control" />
                <span asp-validation-for="ContractNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValueDate" class="control-label"></label>
                <input asp-for="ValueDate" class="form-control" value="SEK"/>
                <span asp-validation-for="ValueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <input asp-for="Sex" class="form-control" value="1"/>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VestingAge" class="control-label"></label>
                <input asp-for="VestingAge" class="form-control" />
                <span asp-validation-for="VestingAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuaranteeBenefit" class="control-label"></label>
                <input asp-for="GuaranteeBenefit" class="form-control" />
                <span asp-validation-for="GuaranteeBenefit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayPeriod" class="control-label"></label>
                <input asp-for="PayPeriod" class="form-control" />
                <span asp-validation-for="PayPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Table" class="control-label"></label>
                <input asp-for="Table" class="form-control" />
                <span asp-validation-for="Table" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}